.list {
    text-decoration: none;
}

.link {
    list-style-type: none;
}

.items:hover,
.items:focus {
    color: #404BBF;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.logo {
    color: #4d5ae5;
    line-height: 1.17
}
.idt{
    color: #2e2f42;
}
.id {
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.menu-link{
   background-color: #FFFFFF;
}
.menu {
    color: #2e2f42;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

address {
    font-style: normal;
}

.contacts {
    color: #434455;
    /* Body */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

.headear {
    background-color: #2E2F42;
}

 


.type {
    color: #FFF;
    text-align: center;
    /* Header 1 */
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    /* 107.143% */
    letter-spacing: 0.02em;
}

.button {
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFF;

}
.button:hover,
.button:focus{
    background-color: #404BBF
}

.button {
    /* Button Text */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.04em;
}

.title {
    color: #2E2F42;
    /* Header 3 */
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
}

.composition {
    color: #434455;
    /* Body */
    font-family: 'Roboto', sans-serif;
    font-size: 1.5;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.02em;
}

.our-home {
    olor: #2E2F42;
    text-align: center;
    /* Header 2 */
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.main-picture {
    background-color: #F4F4FD;
}

.our-home {
    color: #2e2f42;
}

.pictures {
    background-color: #FFFFFF
}

.name {
    color: #2E2F42;
    text-align: center;
    /* Header 3 */
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
}

.about-myself {
    color: #434455;
    text-align: center;
    /* Body */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

.div {
    color:#2e2f42 ;
    letter-spacing: 0.02em;
}

.div {
    color: #2e2f42;
    text-align: center;
    /* Header 2 */
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.story {
    color: #2E2F42;
    /* Header 3 */
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
}

.description {
    color: #434455;
    /* Body */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

.p-footer {
    background-color: #2E2F42;
}

.web-footer {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.studio-footer {
    color: #f4f4fd;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.end {
    color: #F4F4FD;
    /* Body */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

.a-footer {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}.footer{
    color:#2e2f42;
}